<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>

<center>

<form action="delete" method="post">
<!-- <div class="wrapper fadeInDown">
<div id = "formContent"> -->

<!-- <h1 class="active"> Delete </h1>
<h1 class="inactive underlineHover"><a href="signup"> signup </a></h1>
<h1 class="inactive underlineHover"><a href="login"> Login </a></h1> -->



<input type="email" id="email" class="fadeIn" name="email" placeholder="Email" required>
<input type="submit" class="fadeIn fourth" value="submit">
</form>
</center>

</div>
</div>

</body>
</html>