	<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up Form </title>


<style>
	body {
	  background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
	  width: 100%;
	}



.form-control.input-lg {
    text-align: center;
    color: blueviolet;
    background-color: mediumaquamarine;
}
</style>

</head>
<body>
    
<div class="container" id="wrap">

<center>

<div class="row" >

<div class="col-md-6 col-mdoffset-3">
    
<form action="/signup" method="post" accept-charset="utf-8" class="form" role="form">
<legend><h1 style="color: blue;"> Sign Up </h1> </legend>
<br/> <br/>

<div class="row">
<div class="col-xs-6 col-md-6">
<input type="text" name="firstname" value="" class="form-control input-lg "
placeholder =" First name " required  style="padding: 5px;"/>
</div>

<br/>

<div class="col-xs-6 col-md-6">
    <input type="text" name="lastname" value="" class="form-control input-lg"
    placeholder="last name" required  style="padding: 5px;" />
</div>

<br/>

</div>

<input type="text" name="username" value="" class="form-control input-lg"
placeholder="username" required  style="padding: 5px;" />

<br/><br/>

<input type="text" name="email" value="" class="form-control input-lg"
placeholder="Email" required  style="padding: 5px;" />

<br/><br/>

<input type="text" name="password" value="" class="form-control input-lg"
placeholder="Password" required  style="padding: 5px;" />

<br/><br/>

<button class="btn btn-lg btn-primary btn-block signup-btn" type="submit" style="padding: 10px; background-color: aqua;">
Create Account</button>

<br>

</form>

</center>

</div>

</div>
</div>
